h5 {
  display: flex;
  justify-content: center;
}
  
.foto {
  width: 100%;
}

  .content img{
    width: 100%;
    max-height: auto;
  }

  .item {
    color:rgb(0, 0, 0);
    display: flex;    
    padding: 10px;           
  }

  .item>img {
    width: 100px;  
    padding: 20px; 
  }

  