.App {
  text-align: center;
}

.app-wrapper-content {
  grid-area: c;
  background-color: rgb(226, 255, 182);
  margin-top: 0px;
  margin-left: 0px;
  /* margin-right: 10px; */
}

.app-wrapper {
  margin: auto;
  display: grid;
  max-width: 1000px;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

  background-color: white;
  margin-top: 0px;
  
}

.App-link {
  color: #61fb9c;
}
